# .NET Framework
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio files
.vs/
*.nupkg
*.user
*.aps
*.dbmdl
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# ReSharper files
_ReSharper*/
*.[Rr]e[Ss]harper

# TeamCity files
_TeamCity*

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/